/* colore cover 'caricamento' pagina */
#cover {
    background-color: var(--tip3-color);
}


/* tip principale */
#tip3 {
    width: 70%;
    height: full;
    margin-left: 15%;
    background-color: transparent;
    z-index: 5;
}

#highlighter {
    background-color: var(--tip3-color);
    width: 32%;
    left: 12%;
}


/* immagine di esempio*/
#mobile {
    margin-left: 40%;
    margin-top: 5%;
    scale: 0.8;
}


/* tip precedenti */
#tip2 {
    left: 25%;
}

