/* colore cover 'caricamento' pagina */
#cover {
    background-color: white;
}

/* tip principale*/
#tip1 {
    width: 70%;
    height: full;
    margin-left: 64px;
}


/* esempio */
#arrow-slider {
    margin-top: 5%;
    width: 80%;
    height: auto;
}

#arrow-tip1 {
    position: relative;
    left: 80%
}