/* colore cover 'caricamento' pagina */
#cover {
    background-color: var(--tip4-color);
}


/* tip principale */
#tip4 {
    width: 70%;
    height: full;
    margin-left: 20%;
    background-color: transparent;
    z-index: 5;
}

#highlighter {
    background-color: var(--tip4-color);
    width: 32%;
    left: 17%;
}


/* svg di esempio */
#example-container {
    margin-top: 10%;
    margin-left: 15%;
}
#not-clear-example-2 {
    margin-left: 15%;
}

/* tip precedenti */
#tip2 {
    left: 25%;
}

#tip3 {
    left: 50%;
    background-color: var(--tip3-color);
}